<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Use Spring Boot default appender for localdev profile -->
    <springProfile name="devlocal">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <!-- Use default console appender for other profiles -->
    <springProfile name="!devlocal">
        <root level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </root>
    </springProfile>

</configuration>